page-home {
    .l1{
        margin-top: 1em;
    }
    .heading{
        background: rgba(0,51,127,0.7);
    } 
    .main{
        background-image: url("../assets/imgs/pace-bg1.jpg");
        background-size: 1424px 752px;
        text-align: center;
       // background: rgba(0,51,127,0.5);
    }
    .scroll-content{
        justify-content: center;
        display: flex;
      }
      .logo{
        width:5em;
        height: 5em;
        // position: ;
        margin-top: 1em;
        float: right;
      }
      ion-card.card{
          position: fixed;
          background: rgba(0,51,127,0.5);
          width:23em;
          height: 22em;
          margin-top: 4em;
          justify-content: center;
      }
      .item{
        background: rgba(0,51,127,0.5);
        color: white;
        border: 1px solid white;
      }
}
