page-item-form {
    .heading{
        background: rgba(0,51,127,0.8);
    } 
    .main{
        background-color: rgba(0,51,127,0.5);
    }
    .scroll-content{
        justify-content: center;
      }
      h1{
         // color: white;
      }
}
